
.Textlabel
{
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
        .ExpandTextlabel
        {
            
            width: 115px;
            color: #000;
            font-size: 12px;
            font-weight: bold;
            margin-left:5px;
            font-family: Arial, Helvetica, sans-serif;
        }
         .heading
        {
            background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
            height: 25px;
            color:White;
            cursor: pointer;
            border-bottom:1px solid #fff;
            vertical-align: middle;
            width:99%;
           
        }
.input-text  
{
    width:177px; 
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #7E7E7E #BEBEBE #D9D9D9 #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    width:166px; 
    display:block; 
    border:none; 
    padding:3px 5px 
}

.textarea-bg
{
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #7E7E7E #BEBEBE #D9D9D9 #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
}

.textarea-bg
{
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #7E7E7E #BEBEBE #D9D9D9 #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
}
.textarea-bg{border-left: 1px solid #B2B2B2;
    border-right: 1px solid #BEBEBE;
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #D9D9D9;
    background:#ffffff;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height:60px;
    margin-top: 10px;
    padding: 5px;
    resize: none;
    width: 100%;
}
.select-bg 
{
background: none repeat scroll 0 0 #EEEEEE;
border: 1px solid #CCCCCC;
border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
padding: 3px 5px;
width: 175px;
    margin-left: 32px;
}
user agent stylesheetkeygen, select, select[size="0"], select[size="1"] {
border-radius: 0px;
border-color: rgb(169, 169, 169);
}
.Banktextarea-bg
{
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #7E7E7E #BEBEBE #D9D9D9 #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
}
.Banktextarea-bg
{
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #BEBEBE;
    border-top: 1px solid #7E7E7E;
    border-bottom: 1px solid #D9D9D9;
    background: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height:60px;
    margin-top: 10px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.btncss {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d83526;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	background:-ms-linear-gradient( top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fa665a), color-stop(100%, #d34639) );
	background-color:#fa665a;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #98231a;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fab3ad;
 	box-shadow:inset 1px 1px 0px 0px #fab3ad;
}.btncss:hover {
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	background:-ms-linear-gradient( top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #d34639), color-stop(100%, #fa665a) );
	background-color:#d34639;
}.btncss:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */

.btncssUP
{
background: #ECECEC;
border-radius: 15px;
padding: 10px 20px;
display: block;
font-family: arial;
font-weight: bold;
font-size:10px;
color: #7f7f7f;
text-decoration: none;
text-shadow: 0px 1px 0px #fff;
border: 1px solid #a7a7a7;

box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
-webkit-transition: box-shadow 0.5s;
}
.btncssUP:Hover
{
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}


.HeaderDiv
{
    width:100%;
    height:36px;
 /*  background-color: #4f85bb; margin: 12px 5px 5px 5px;padding:0 10px 0 10px;line-height:30px;*/
 background-color: #9bc77d;
font-size:16px; 
color:White;

font-weight:bold;
}

.MainDiv
{
    width:100%;
    height:100%;
    
}
.clearfix
{
    height:10px;
}
/* gaurav*/
.textlblheader
{
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            margin-left:0px;
}
.textlblmsg
{
            color: #000000;
            font-size: 12px;
            font-weight: bold;
            margin-left:5px;
            
}
.textlblheadermain
{
      color: #ffffff;
            font-size: 17px;
            font-weight: bold;
            margin-left:5px;
}



.RowStyle
{
    background-color: White;
    color: #333333;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align:middle;
}
.FooterStyle
{
    background-color:#0e7a9e;
    font-weight:bold;
    color:White;
}
.FooterStyleBTOR
{
    background-color:#e7e7e7;
    font-weight:bold;
    color:White;
}
.DashFooterStyle
{
    background-color:#e1d6c7;
    font-weight:bold;
    color:Black;
}
.PagerStyle
{
background-color:#fff;
color:White;
text-align:right;
}

.SelectedRowStyle
{
background-color:#fad669;
font-weight:bold;
color:#333333;
}

.HeaderStyle
{
font-family: Arial, Helvetica, sans-serif;
background-color:#9bc77d;
font-weight:normal;
color:White;
}

.HeaderStyleBTOR
{
font-family: Arial, Helvetica, sans-serif;
background-color:#e7e7e7;
font-weight:bold;
color:Black;
height: 25px;
}
.DashHeaderStyle
{
font-family: Arial, Helvetica, sans-serif;
background-color:#e1d6c7;
font-weight:bold;
color:Black;
}
.AlternatingRowStyle
{
    background-color:#eceeef;
    color:#284775;
}
.MouseOverStyle
{
    background-color:#ffdf84;
}
        .mGrid
        {
        width: 100%;
        background-color: #fff;
        margin: 5px 0 10px 0;
        border: solid 1px #525252;
        border-collapse: collapse;
       
        }
        .mGrid td
        {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #000;
        }
        .mGrid th
        {
        padding: 4px 2px;
        color: #000;
        background: rgb(243,226,199);
        border-left: solid 1px #525252;
        font-size: 0.9em;
        }
        .mGrid .alt
        {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
        }
        .mGrid .pgr
        {
            background: #424242 url(grd_pgr.png) repeat-x top;
        }
        .mGrid .pgr table
        {
            margin: 5px 0;
        }
        .mGrid .pgr td
        {
        border-width: 0;
        padding: 0 6px;
        border-left: solid 1px #666;
        font-weight: bold;
        color: #fff;
        line-height: 12px;
        }
        .mGrid .pgr a
        {
        color: #666;
        text-decoration: none;
        }
        .mGrid .pgr a:hover
        {
            color: #000;
            text-decoration: none;
        }
 .ModalPopupBGstar
{
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	width :100%;
    height:100%;
    z-index:99999;
}

.footer_sec1{float:left; width:100%; height:50px; background-color:#f3ae1b; margin-top:0px; border-radius:6px;}

.copy_rightnew{float:left; width:100%; height:50px; font-family:Arial; font-size:12px; color:#fff; line-height:50px; text-align:center;}

.grdbtn
{
    background:url(../Images/map.png);
}

.Mcontent
{
    
    background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
width:100%;height:100%;
}


   
   
.gradient
         {
             font-weight:bold;
              padding-top:0px;
              text-align:left;
              line-height:37px;
              padding-right:3px;
              padding-left:20px;
              height:30px;
			  font-size: 14px;
			  border:1px solid #519f06;
			  border-radius:6px;
            background: #9fcb3f; /* Old browsers */
background: -moz-linear-gradient(top,  #9fcb3f 0%, #c2e88d 70%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcb3f), color-stop(70%,#c2e88d), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9fcb3f 0%,#c2e88d 70%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9fcb3f 0%,#c2e88d 70%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9fcb3f 0%,#c2e88d 70%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9fcb3f 0%,#c2e88d 70%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fcb3f', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */



             }
             
             .gradient_text
             {
                  float:left;
                  width:auto;
                  font-family:Arial;
                  font-size:14px;
                  color:#000;
                  margin-top:-4px;
                 }			 
     
.wpsp_container li {padding: 5px 0 5px 0;}
.wpsp_container h3 a{font-size: 14px; text-decoration: none;}
.wpsp_container h3 a:hover{color: #000;}
.wpsp_container span{font-size: 12px;}
.wpsp_container p{font-size: 12px;}
.wpsp_container .wpsp_img_box {float: left;}  
.wpsp_img_box a img{width: 100px; height:100px;}
.wpsp_detail img {width: 100px; height:100px;}
.wpsp_readmore {color:#000; font-size: 12px; text-decoration: none;}    

.news
{
   
    width: 80%;
    height:350px;
background: #63b6db; /* Old browsers */
background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* IE10+ */
background: linear-gradient(to bottom, #63b6db 0%,#309dcf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
padding: 15px 24px;
margin-left:10px;
margin-top:10px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.Dchangerequest
{
   
width: 80%;
height:40%;
background: #cdeb8e; /* Old browsers */
background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
padding: 15px 24px;
margin-left:10px;
margin-top:10px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.Alerts
{
      width: 80%;
    height:350px;
background: #fac695; /* Old browsers */
background: -moz-linear-gradient(top, #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fac695), color-stop(47%,#f5ab66), color-stop(100%,#ef8d31)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* IE10+ */
background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
padding: 15px 24px;
margin-left:10px;
margin-top:10px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
   
    
}

.side {
width: 90%;
background: #fff;
padding: 15px 24px;
margin-left:10px;
margin-top:10px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.ChangeRequest {
width: 90%;
height:420px;
vertical-align:middle;
background: #e4efc0; /* Old browsers */
background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* IE10+ */
background: linear-gradient(to bottom, #e4efc0 0%,#abbd73 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
margin-top:50px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

}
.ChangeRequestHR {
width: 50%;
height:420px;
vertical-align:middle;
background: #e4efc0; /* Old browsers */
background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* IE10+ */
background: linear-gradient(to bottom, #e4efc0 0%,#abbd73 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
margin-top:50px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

}

.ChangeRequestHRMain {
width: 90%;
height:420px;
vertical-align:middle;
background: #e4efc0; /* Old browsers */
background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* IE10+ */
background: linear-gradient(to bottom, #e4efc0 0%,#abbd73 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
margin-top:50px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

}


.Reports{
width: 98%;
height:420px;
margin:0 auto;
}

.submit_butt-new {
	background-color:#9bcea9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:White;
	font-family:arial;
	font-size:14px;
	
	padding:3px 10px;
    margin-left: 1px;
    }
      .buttono { background-color:#f3ae1b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: White;
    font-family: arial;
    font-size: 14px;
    padding: 3px 10px;
    margin-left: 1px;
}
.button:hover 
{
  
	background-color:#151630;
}
.button:active {
	position:relative;
	top:1px;
}

.divBorder
{
	border:1px solid #dcdcdc;
}
.modalBackground
 {
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
 }
    
 .Gridcss input[type=text]{background-color:transparent; border-style:none;}
   
  .contentmaindiv
  {
    margin-left: 12px;
    width: 97%;
    border: 1px solid #dcdcdc;
    margin:0 auto;
    min-height:500px;
    }
    .ADSearch{ background-color:#e7e7e7;width: 100%;}
    
    .dropdwn
    {
 margin: 2px 0px 0px 15px;
float: left;
    }
    
    .float-r
    {
        float: right;
        }
        
        .float-l
    {
        float: left;
        }
        
        .textcenter
        {
        	
        	text-align:center;
       }
        .leftp
        {
        	
        	padding-Left:43px;
        	
        	}
        	
        	.marginbutton
        {
        	
        	margin-right:14px;
        	
        	}
        	